{% extends 'layout/base.html' %}

{% block body %}
<h1>Guide your portfolio to the stars</h1>
<h2>Do analysis on few clicks</h2>
{% endblock %}

{% block css %}
<style>
  main{
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: coral;
    background-image: url('https://images.pexels.com/photos/3680131/pexels-photo-3680131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  h1{
    justify-content: center;
    align-items: right;

  }
</style>
{% endblock %}



